<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @track.url %>
</p>

<p>
  <strong>Box:</strong>
  <%= @track.box %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
