<div class="container">
  <h3 class="box-title">Inbox</h3>

  <table>
    <tr>
      <th></th>
      <th>Track Info</th>
      <th>Actions</th>
      <th>Share</th>
      <th>Add to a Box</th>
    </tr>
    <% @box.each do |track| %>
    <tr>
        <td>
          <%= link_to "", class: "play", id: track.url do %>
            <i class="material-icons small-icon">play_circle_filled</i>
          <% end %>
        </td>
        <td><a class="track-info" href="<%= track.url %>"><%= track.track_info %></a></td>
        <td>
          <%= link_to "/track/#{track.id}", method: 'delete' do %>
            <i class="material-icons small-icon">highlight_off</i>
          <% end %>
        </td>
        <td>
          <i class="material-icons small-icon">send</i>
          <form id="<%=track.url%>`<%=track.track_info%>" class="share">
            <input type="submit" value="Send"><input class='username' type="text" name="username" value="Enter a username">
          </form>
        </td>
        <td>
          <form action="/inbox/<%=track.id%>" method="post">
            <select name="box_id">
              <%= @boxes.each do |box| %>
                <option value="<%= box.id %>">
                  <%= box.name %>
                </option>
              <% end %>
            </select>
            <button class="small-icon" type="submit"><i class="material-icons">library_add</i></button>
          </form>
        </td>
    </tr>
    <% end %>

  </table>
</div>

<footer id="player-footer"><%= render "shared/player" %></footer>
