<p id="notice"><%= notice %></p>

<h3 class="box-title">Inbox</h3>

<p>
  <strong>User:</strong>
  <%= @current_user.username %>
</p>

<table>
  <tr>
    <th>Track ID</th>
    <th>Title</th>
    <th>Artist</th>
    <th>Created at:</th>
    <th>Updated at:</th>
    <th>Actions</th>
  </tr>
  <% @box.each do |track| %>
  <tr>
      <td><%= track.id %></td>
      <td><a href="<%= track.url %>"><%= track.title %></a></td>
      <td><%= track.artist %></td>
      <td><%= track.created_at %></td>
      <td><%= track.updated_at %></td>
      <td><%= link_to 'Delete', "/track/#{track.id}", :method => 'delete' %></td>
  </tr>
  <% end %>
</table>
