<div class="container">
  <h3 class="box-title">Inbox</h3>

  <table>
    <tr>
      <th></th>
      <th>Track Info</th>
      <th>Delete</th>
      <th>Share</th>
      <th>Add to a Box</th>
    </tr>
    <% song_list = []  %>
    <% @box.each do |track| %>
      <% song_list << track.url  %>
      <tr>
          <td>
            <%= link_to "", class: "play", id: track.url do %>
              <i class="material-icons small-icon">play_circle_filled</i>
            <% end %>
          </td>
          <td><a class="track-info" href="<%= track.url %>"><%= track.track_info %></a></td>
          <td>
            <%= link_to "/track/#{track.id}", method: 'delete' do %>
              <i class="material-icons small-icon">highlight_off</i>
            <% end %>
          </td>
          <td>
            <form id="<%=track.url%>`<%=track.track_info%>" class="share">
              <input class='username' type="text" name="username" placeholder="Enter a username">
              <button type="submit"><i class="material-icons small-icon">send</i></button>
            </form>
          </td>
          <td>
            <form action="/inbox/<%=track.id%>" method="post">
              <select name="box_id">
                <%= @boxes.each do |box| %>
                  <option value="<%= box.id %>">
                    <%= box.name %>
                  </option>
                <% end %>
              </select>
              <button class="small-icon" type="submit"><i class="material-icons">library_add</i></button>
            </form>
          </td>
      </tr>
    <% end %>

  </table>
  <a class="play_all" type="button" id="<%= song_list%>"><i class="material-icons">play_circle_filled</i> PLAY ALL</a>
</div>

<footer id="player-footer"><%= render "shared/player" %></footer>
