<p id="notice"><%= notice %></p>

<div class="container">
  <h3 class="box-title"><%= @box.name %></h3>

  <table>
    <tr>
      <th></th>
      <th>Track Info</th> 
    </tr>
    <% @box.tracks.each do |track| %>
    <tr>
      <td>
        <%= link_to "", class: "play", id: track.url do %>
          <i class="material-icons">play_circle_filled</i>
        <% end %>
      </td>
      <td><a href="<%= track.url %>"><%= track.track_info %></a></td>
      <td><i class="material-icons">screen_share</i></td>
      <td>
        <%= link_to "/track/#{track.id}", method: 'delete' do %>
          <i class="material-icons">highlight_off</i>
        <% end %>
      </td>
    </tr>
    <% end %>

  </table>
</div>
<footer id="player-footer"><%= render "shared/player" %></footer>
