<div class="container">
  <h3 class="box-title"><%= @box.name %></h3>

  <table>
    <tr>
      <th>Play</th>
      <th>Track Info</th>
      <th>Delete</th>
      <th>Share</th>
    </tr>
    <% song_list = []  %>
    <% @box.tracks.each do |track| %>
      <% song_list << track.url  %>
      <tr>
        <td>
          <%= link_to "", class: "play", id: track.url do %>
            <i class="material-icons small-icon">play_circle_filled</i>
          <% end %>
        </td>
        <td><a class="track-info" href="<%= track.url %>"><%= track.track_info %></a></td>
        <td>
          <%= link_to "/track/#{track.id}", method: 'delete' do %>
            <i class="material-icons small-icon">highlight_off</i>
          <% end %>
        </td>
        <td>
          <form id="<%=track.url%>`<%=track.track_info%>" class="share">
            <input class='username' type="text" name="username" placeholder="Enter a username">
          </form>
        </td>
      </tr>
    <% end %>

  </table>
  <a class="play_all" type="button" id="<%= song_list%>"><i class="material-icons">play_circle_filled</i> PLAY ALL</a>
</div>

<footer id="player-footer"><%= render "shared/player" %></footer>
