<h1>Ten Hottest Tracks</h1>
<%= render "shared/soundcloud" %>
<br>
<div>
  <ul class="tracks-list">
    <% @tracks.each do |track|  %>
      <li>
       <%= track.title %> - <%= track.user.permalink_url %>
      </li>
    <% end  %>
  </ul>
</div>

<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
<%= console %>  <!-- what's this again? -->
<%= render "shared/player" %>
